services:
  web:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: web_freres_unis
    env_file: .env
    depends_on:
      - db
    ports:
      - "8030:8000"
    volumes:
      - ./src:/app/src
      - ./alembic.ini:/app/alembic.ini
      - ./alembic:/app/alembic

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
